.label-form-container {
    position: absolute;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 5px;
}

.label-text {
    height: 20px;
    left: 14px;
    right: 253px;
    top: calc(50% - 20px / 2);
    font-size: 11px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #595959;
}
